$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin xs() {
  @media all and (min-width: $xs) and(max-width: $sm) {
    @content;
  }
}
@mixin sm() {
  @media all and (min-width: $sm) and(max-width: $md) {
    @content;
  }
}
@mixin md() {
  @media all and (min-width: $md) and(max-width: $lg) {
    @content;
  }
}
@mixin lg() {
  @media all and (min-width: $lg) and(max-width: $xl) {
    @content;
  }
}
@mixin xl() {
  @media all and (min-width: $xl) and(max-width: $xxl) {
    @content;
  }
}
@mixin xxl() {
  @media all and (min-width: $xxl) {
    @content;
  }
}

.table-drag-select {
  width: 100%;
  table-layout: fixed;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  td {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 0.15rem solid transparent;
    background-clip: padding-box;
    padding-left: 0rem;
    padding-right: 0rem;
    font-weight: 500;
    line-height: 2.3rem;
    font-size: 13px!important;
    @include xxl() {
      line-height: 2.9rem;
    }
    @include md() {
      font-size: 11px!important;
    }
    @include sm() {
      font-size: 11px!important;

    }
    @include xs() {
      font-size: 11px!important;
    }
  }
}


/* Cells that cannot be interacted with */
.table-drag-select {
  td.cell-disabled {
    /* Put yer css here */
  }
  td.cell-enabled {
    background-color: #ddd;
    cursor: cell;
  }
  td.cell-enabled-single {
    background-color: #ddd;
    cursor: pointer;
  }
  td.cell-selected {
    background-color: #4688f4 !important;
    color: white !important;
    // border: solid white 0.16rem !important;
  }
  td.cell-being-selected {
    /* This is the blue color you see when you select text with the cursor */

    background-color: #a9a9a9 !important;
  }
}


